.bg_home {
  padding-top: 70px;
  background-color: #659DBD;
  padding-bottom: 70px;
}

.bg_team {
  background-color: #0d0024;
  /* height: 1000px; */
  /* background: rgb(58,91,180);
  background: linear-gradient(90deg, rgba(58,91,180,1) 0%, rgba(253,29,29,1) 100%, rgba(252,176,69,1) 100%); */

  padding-top: 60px;
}

.mind_img_div {
  width: 100%;
  height: 300px;
}
.row {
  --bs-gutter-x: 0 !important;
}

.mind_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.zetta_title {
  font-size: 45px;
  font-weight: 700;
  font-family: "Baloo Tamma 2";
  color: wheat;
}

.zetta_para {
  font-family: "Baloo Tamma 2";
  color: whitesmoke;
  width: 80%;
}

/* Styling Goals and Vision */

.goals_vision_section{
    background-color: #0d0024;
    padding-top: 100px;
    padding-bottom: 100px;
}


.goal_vision_img_div{
    width: 100%;
    height: 300px;
}

.goal_vision_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.goals_vision_title{
    color: #fff;
    opacity: 0.8;
    line-height: 2;
    font-size: 50px;
}


.goal_para{
    color: #fff;
    opacity: 0.8;
    font-size: 20px;
    line-height: 2;
}



/* Styling Background Section */

.background_section {
  /* margin-top: 100px; */
}

.bg_section_img_div {
  width: 100%;
  height: 500px;
  margin: auto;
  position: relative;
}

.bg_section_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ai_based {
  position: absolute;
  top: 10%;
  left: 35%;
  /* transform: translate(100%, 100%); */
  color: wheat;
  font-family: "Baloo Tamma 2";
}
.ai_based_para {
  position: absolute;
  width: 50%;
  bottom: 5%;
  left: 25%;
  color: wheat;
  justify-content: center;
  line-height: 1.5;
  font-family: "Baloo Tamma 2";
}

/* Styling Teams section */

.developer_img_div {
  width: 100%;
  height: 250px;
}

.developer_img {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  object-fit: cover;
}
.developer_img :hover {
  transition: all 2s ease-in-out;
}

.team_main_div {
  border: 1px solid #9f9292;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 2px 3px 22px 3px #919191;
}

.card_div {
  background-color: #d9d3c8 !important;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.our_team_heading {
  margin-top: 30px;
  font-weight: 700;
  font-size: 40px;
  color: grey;
  font-family: "Baloo Tamma 2";
}


/* Styling Why you should Join Us */

.why_should_try_section{
  background-color: #659DBD;
  padding-top: 70px;
  padding-bottom: 70px;
}

.why_you_should_img_div{
  width: 100%;
  height: 400px;
}

.why_you_should_img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.why_you_should_title{
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  color: whitesmoke;
  font-family: "Baloo Tamma 2";
}

.why_you_should_join_para_div{
  width: 80%;
  margin-left: 100px;
}
.why_you_should_join_para{

  line-height: 1.5;
  font-weight: 700;
  margin-top: 30px;
  font-family: "Baloo Tamma 2";
}